/* https://yarduon.com */
@media screen and (min-width: 1400px) {
  .footer-container:hover {
    width: 19vh;
  }

  .footer-container:hover .data-sign {
    display: block;
  }
}

@media screen and (max-width: 1400px) {
  .infinite {
    animation: none;
  }

  .background-space {
    background-position: 153vh 0.3vh;
  }
}
